@media screen and (min-width:768px){
    .page-header{
        &__logo{
            width:300px;
        }
    }
    .page-main{
        max-width: 748px;
        margin:auto;
        .hero{
            min-height: 400px;
        }
        .menu__title{
            padding:10px 100px;
            &::before{
                left: 100px;
            }

        }
        .section-booking{
            border-radius: 10px;;
        }
        .section-about{
          &__list{
              display:flex;
              gap:20px;
          }
          &__row{
              height: 150px;
              align-items: center;
              justify-content: center;
              padding: 2px;
              text-align: center;
              gap:15px;
              font-size: 1.2rem;
              .number{
                  top:-15px;
                  left:100px;
                  color:white;
              }
              i{
                  font-size: 1.2rem;;
              }
              &:nth-child(3){
                  padding: 30px;
              }
          }

        }
        .section-restaurants{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 10px;           
        }
    }
    .page-footer{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap:250px;
    }
}
@media screen and (min-width:992px){
    .page-main{
        max-width: 972px;
        margin:auto;
        .section-restaurants__gallery{
            justify-content: space-around;
        }
        .section-about__row{
            .number{
                left:140px;
            }
        }
    }
}