@mixin card_pic{
    $pictures:(1:"../assets/restaurants/full-palette.webp",
                2:"../assets/restaurants/enchanted-plate.webp",
                3:"../assets/restaurants/bastille.webp",
                4:"../assets/restaurants/le-gourmand.webp");  


    @each $key,$pic in $pictures{
        &:nth-child(#{$key}) {
            .card__header{
            background-image: url(#{$pic});
            }
        }
    }
}

@mixin bkg_pic{
    $pictures:(FP:"../assets/restaurants/full-palette.webp",
                EP:"../assets/restaurants/enchanted-plate.webp",
                bastille:"../assets/restaurants/bastille.webp",
                gourmand:"../assets/restaurants/le-gourmand.webp");  


    @each $key,$pic in $pictures{
        .#{$key} {
            background-image: url(#{$pic});
            }
        }
}

