$logo-color:black;
$text-font: 'Roboto', sans-serif;
$box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
$titles-font: 'Shrikhand', cursive;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;


