@use '../utils';

/* PAGES-restaurants-Full-Palette*/

.page-main{  
    .hero{
        height: 40vh;
        min-height: 300px;
        background-position: bottom;
        background-size: cover;        
    }  
    @include utils.bkg_pic;
    .restaurant{
        transform:translateY(-5%);
        background-color:lighten(lightgray,12%);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 5%;  
        &__header{
            display: flex;
            justify-content: space-between;
        }
        i{
            font-size: 1.5rem;
        }
    }
    .menu{            
        &__title{         
            position: relative;
            padding: 10px 0;
            opacity: 0;
            animation: menu_fade 0.5s ease-in 0.3s forwards;
            font-size: 1.2rem;
           
            &::before{
                position: absolute;
                content:'';
                left:0;
                bottom: 0;
                width: 40px;
                padding-bottom: 10px;
                border-bottom: 3px solid green;;
            }
        }
        &__list{             
            .menu__item{
                display: flex;               
                max-width: 450px;                
                flex-grow: 1;
                height: 80px;
                background-color: white;
                border-radius: 20px;
                margin:10px auto;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                opacity: 0;
                animation: menu_fade 0.5s ease-in forwards;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                
                &:nth-child(1){
                    animation: menu_fade 0.5s ease-in forwards;
                    animation-delay: 0.3s;
                }
                &:nth-child(2){
                    animation: menu_fade 0.5s ease-in forwards;
                    animation-delay: 0.6s;
                }
                &:nth-child(3){
                    animation: menu_fade 0.5s ease-in forwards;
                    animation-delay: 0.9s;
                }
                &-description{
                    overflow: hidden;
                }
                &-name{
                    font-size: 1.2rem;
                    // font-size: 1.4rem;
                    margin: 15px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &-ingredients{   
                    // font-size: 1.3rem;
                    margin: 10px;  
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &-price{
                    align-self: flex-end;
                    margin-bottom:15px;
                    margin-right: 15px;
                    margin-left:auto;
                }
                .menu__item-approved{
                    display: grid;
                    place-items: center;
                    width: 0;
                    overflow: hidden;
                    text-align: center;
                    color:white;
                    font-size: 1.4rem;
                    height: 100%;
                    background-color: aqua;
                    transition:all 0.5s;                  
                }
            &:hover .menu__item-approved{
                width:100px; 
            }
            & i{                
                transition: transform 0.4s;               
            }
            &:hover i{                
                transform:rotate(360deg);               
            }
            
            }
        }
    }
}




@keyframes menu_fade {
    from{
        transform:translateY(10px);
        // opacity: 0;
        // display: inline-block;
    }
    to{
        transform:translateY(0);
        opacity: 100;
        // display: inline-block;
    }
}
/* end-PAGES-restaurants-Full-Palette*/
