@use '../utils';

.page-main{
    margin:auto;
    width:1000px;
    .hero{
        // max-width: 1000px;
        // min-width: 350px;
        height: 40vh;
        // margin: auto;
        background-image: url('/assets/restaurants/full-palette.jpg');
        background-position: bottom;
        background-size: cover;
        
    }  
    .restaurant{
        transform:translateY(-5%);
        background-color:lighten(lightgray,12%);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        // text-align: center;
        padding: 30px;
        
        // position: relative;
    }
    .menu{
        &__title{
            position: relative;
            padding: 10px 0;
            &::before{
                position: absolute;
                content:'';
                left:0;
                bottom: 0;
                width: 40px;
                padding-bottom: 10px;
                border-bottom: 3px solid green;;
            }
        }
        &__list{
            .menu__item{
                display: flex;
                width: 400px;
                height: 80px;
                background-color: white;
                border-radius: 20px;
                margin:10px;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                &-description{
                    overflow: hidden;
                }
                &-name{
                    font-size: 1.2rem;
                    margin: 15px;
                }
                &-ingredients{   
                    margin: 15px;  
                    // max-width: 250px;           
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &-price{
                    align-self: flex-end;
                    margin-bottom:15px;
                    margin-right: 15px;
                    margin-left:auto;
                    // border: 1px solid black;
                }
                .menu__item-approved{
                    display: grid;
                    place-items: center;
                    width: 0;
                    overflow: hidden;
                    text-align: center;
                    color:white;
                    font-size: 1.4rem;
                    height: 100%;
                    background-color: aqua;
                    transition:width 1s;                  
                }
            &:hover .menu__item-approved{
                width:100px;
            }
            }
        }
    }
}

.test{
    display:flex;
    overflow: hidden;
    width: 400px;
    justify-content: space-between;

    .approved{  
        overflow: hidden; 
        text-align: center;
        width: 0;
        background-color: aqua;
        transition: width 1s;
    }
    &:hover .approved{
        width: 50%;
    }
}
