/* LAYOUT-footer */

footer{ 
    background-color: black;
    padding: 20px;
    svg{
        fill:white;
        margin: 20px 0;
        // font-size: 1rem;
    }
    a{
        color:white;
        line-height: 1.7;
    }
    i{
        margin-right: 10px;
    }
}
/* end-LAYOUT-footer */