@use '../utils';

.page-header{
    height: max(7vh,100px);    
    width: 100%; 
    box-shadow: utils.$box-shadow;    
    padding: 20px;
    position: relative; 
    display: grid;
    place-items: center;
    grid-template-columns:1fr 2fr 1fr;
    &__logo{
        grid-column:2/3 ;
        width: 200px;
        max-width: 400px;
    }
    &__btn-back{    
        grid-column: 1/2;
    .fa-arrow-left{
        font-size: 2rem;
        color: black;
    }
    }
}

