@use '../utils';

.button-CTA{  //could be a component
    display: block;
    padding: 15px 30px;
    margin: auto;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    border:0;
    background-image: linear-gradient(to bottom right,utils.$secondary-color,utils.$primary-color );
}