@use '../utils/variables';

/* start of _base*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: variables.$text-font;
    scroll-behavior: smooth;
    display:flex;
    flex-direction: column;
    height:100%;  
}
a,a:visited{
    text-decoration: none;    
}
ul{
    list-style: none;
}
/* for voiceover */
// ul li::before {
//     content: "\200B";
// }

/* start of _base*/
.restaurant__name{
    font-family: variables.$titles-font;
}


footer{ 
    margin-top:auto;   
    background-color: black;
    padding: 20px;
    svg{
        fill:white;
        margin: 20px 0;
        // font-size: 1rem;
    }
    a{
        color:white;
        line-height: 1.7;
    }
    i{
        margin-right: 10px;
    }
}
