@use '../utils';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    // height: 100%;
}
body{
    font-family: utils.$text-font;
    scroll-behavior: smooth;
    // display:flex;
    // flex-direction: column;
    // height:100%;  
}
a,a:visited{
    text-decoration: none;    
}
ul{
    list-style: none;
}

.restaurant__name{
    font-family: utils.$titles-font;
}


