@use '../utils';

/* BASE-reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
a,a:visited{
    text-decoration: none;    
}
ul{
    list-style: none;
}

/* end-BASE-reset */
